@media (max-width: 991px) {
  .community-intro-wrapper .mobile-options {
    margin-left: 0;
    margin-right: 0;
  }
}

.b-contactform--mobile-open .mobile-options {
  margin-bottom: -15px;
}

.mobile-options > .row > div.phone:before {
  margin-right: 5px;
}

.mobile-options>.row {
  background: #00539b !important;
  border: 4px solid #00539b !important;
  border-radius: 4px;
  box-shadow: 0 0 0 0 #00539b;
  margin: 10px 0px 10px 0px;
}

.b-contactform--mobile-open .row.row--hybrid {
   border-bottom: 0 !important;
}

.is-mobile-contact-menu.mobile-option.mobile-option--expanded {
  color: #fff;
  border-radius: 4px;
  background: #00539b !important;
} 

.mobile-options>.row>div
{
  color: #fff !important;
}

.mobile-options .bkd-mobile-arrow-path {
  fill: #fff;
}

.b-contactform--mobile-open .bkd-mobile-arrow-path {
  fill: #00539b;
}

#is-b-contactform {
  margin-left: 0;
  padding: 0 25px 0 25px;
  border: 4px solid #00539b;
  border-top: 0;
}

.b-contactform {
  background-color: #fff;
  height: auto !important;
}

.b-contactform__reasons {
  padding-top: 20px;
}

.b-contactform__button {
  background: #00539b !important;
  border: 4px solid #00539b !important;
  border-radius: 4px;
  box-shadow: 0 0 0 0 #00539b;
}

@media (max-width: 1040px) {
.b-contactform__contactinfo input[type=submit] {
    max-width: 100%;
    width: 100%;
}
}

.b-contactform__compliance p {
  padding-right: 25px;
}
