@media (max-width: 991px) {
  .community-intro-wrapper .mobile-options {
    margin-left: 0;
    margin-right: 0;
  }
}

.b-contactform--mobile-open .mobile-options {
  margin-bottom: -15px;
}

.mobile-options > .row > div.phone:before {
  margin-right: 5px;
}

.mobile-options > .row {
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  color: #00539b !important;
  background: #fff !important;
  border: 2px solid #00539b !important;
  box-shadow: 0 0 0 0 #00539b;
}

.mobile-options>.row>div {
    padding-left: calc(50% - 123px) !important;
}

.mobile-options>.row>div:not(.phone) {
  background: #fff;
}

.mobile-options>.row:first-child {
  background: #00539b !important;
  color: #fff !important;
}

.b-contactform--mobile-open .row.row--hybrid {
  border-bottom: 0 !important;
}

#is-b-contactform {
  margin-left: 0;
  padding: 0 25px 0 25px;
  border: 2px solid #00539b;
  border-top: 0;
  border-radius: 4px;
  height: auto !important;
}

.b-contactform {
  background-color: #fff;
}

.b-contactform__reasons {
  padding-top: 20px;
}

@media (max-width: 1040px) {
  .b-contactform__contactinfo input[type="submit"] {
    max-width: 100%;
    width: 100%;
    background: #00539b !important;
    border: 2px solid #00539b !important;
    border-radius: 4px;
    box-shadow: 0 0 0 0 #00539b;
  }
}

.b-contactform__compliance p {
  padding-right: 25px;
}
