#at-dma {
  padding-bottom: 28px;
  padding-top: 28px;
  background-color: #f9f9f9;
}

#at-dma .retain {
  padding: 0 15px;
}

#at-dma .text-image-content {
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  width: 100%;
  background: #fff;
  border: 1px solid #d3d3d3;
  margin: 0 auto;
  padding: 20px;
  }

#at-dma .text-image__iblock--left {
 display: inline-block;
 vertical-align: top;
 padding: 0;
 margin-right: 20px;
 max-width: 285px;
}

#at-dma .text-image__iblock--right {
 display: inline-block;
}

#at-dma .text-image-content .headline2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#at-dma .text-image-content img {
  margin-top: 0;
}

@media (min-width: 992px) and (max-width: 1091px) {
  #at-dma .text-image__iblock--left {
    min-width: 315px;
    max-width: 315px;
  }
}

@media (min-width: 992px) {
  #at-dma .text-image-content .headline2 {
    font-size: 36px;
  }
}

@media (min-width: 992px) and (max-width: 1091px) {
  #at-dma .text-image__iblock--left {
    min-width: 315px;
    max-width: 315px;
  }
}

@media (min-width: 1092px) {
  #at-dma .text-image__iblock--left {
    min-width: 260px;
    max-width: 285px;
  }
}

/*** New Styles v2 ***/

@media (max-width: 991px) {
 #at-dma .text-image__iblock--right p {
    margin-bottom: 0;
  } 
}

@media (min-width: 680px) and (max-width: 991px) {
  #at-dma .text-image-content {
    align-items: center;
    justify-content: space-around;
  }
  #at-dma .text-image__iblock--left {
    /*max-width: 350px;*/
    width: 40%;
    border: 3px solid #e5e5e5;
  }
  #at-dma .text-image__iblock--right {
    width: 100%;
    text-align: center;
  }
  .test-cta {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #at-dma .text-image__iblock--left {
    min-width: 100px;
    max-width: 155px;
  }
}


@media (max-width: 420px) {
  #at-dma {
    padding: 15px 0;
  }
  #at-dma .text-image__iblock--left {
    margin-right: 10px;
  }
  text-image__iblock--right {
    margin-right: 0;
  }
  #at-dma .text-image__iblock--right p {
    font-size: 16px;
  }
}

@media (max-width: 359px) {
  #at-dma .text-image__iblock--left {
    max-width: 100px;
    margin-left: 0;
    margin-right: 10px;
  }
  #at-dma .text-image__iblock--right p {
    line-height: 1.2;
  }
  #at-dma {
    border: 0;
  }
  #at-dma .text-image-content {
    margin: 0;
    padding-top: 0;
  }
}

/*** New Again ***/



