header.ctcore-header .retain, .ctcore-header__row--second {
  max-width: unset;
}

#test-wrapper {
  background-color: #f9f9f9;
  margin-right: 20px;
}

main {
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  background-color: #fff;
}

#test-aside {
  width: 25%;
  position: absolute;
  top: 130px;
  right: 0;
}

/* Form Syles */

.b-contactform {
  padding-top: 30px;
  margin-right: 20px;
}

.b-contactform .container {
  width: auto;
  max-width: unset;
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.b-contactform__form {
  -ms-flex-direction: column;
  flex-direction: column;
}

.b-contactform__reasons {
    min-width: unset;
}

.b-contactform__prompt {
  margin-bottom: 15px;
}

.b-contactform__prompt:after, .b-contactform__prompt:before {
  display: none;
}

.b-contactform__pricing, .b-contactform__schedule {
  border-right: none;
}

.b-contactform .control {
  margin: 5px 0;
}

.b-contactform__contactinfo, .b-contactform__reasons {
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}

.b-contactform__contactinfo>* {
    width: auto;
}

.communityform .communityform__item {
  margin-bottom: 15px;
  margin-right: 0px;
}

.b-contactform__contactinfo>.b-contactform__button {
  max-width: unset;
}

#contact-form-submit {
  width: 100%;
}

.b-contactform__compliance {
  width: auto;
}

/* End Form Styles */

.community-description-wrapper {
  padding-left: 0;
  padding-right: 20px;
  text-align: left;
}

.content-break.parbase .divider.2 {
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

.community-two-column.parbase .retain{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

.title-wrapper .title {
    text-align: left;
}

.title-wrapper .title .headline2::before, .title-wrapper .title h2::before {
 display: none; 
}

.two-column-community .row .col-md-6:first-child {
  padding-left: 0px;
}

.two-column-community .row .col-md-6:last-child {
  padding-right: 1px;
}

@media (min-width: 992px) {
.two-column-community .row .col-md-6 ul {
    margin-left: 10px;
  }
}

#photo-gallery-container {
  padding: 0;
}

#events-menu-container {
  padding: 0;
}

.downloads.ajax.parbase .container {
  padding: 0;
}

.reviews-community-wrapper .container {
  padding: 0;
}

.community-map-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.community-map-wrapper>div {
    margin-left: 0;
    margin-right: 0;
}

.closest-communities {
  padding: 0;
}

.closest-communities.retain {
max-width: unset;
}

.closest-communities__item {
    min-width: unset;
    width: 30.66667%;
}

.closest-communities__list .js-search-listing-0 {
  margin-left: 0;
}

.closest-communities__list .js-search-listing-2 {
  margin-right: 0;
}

.video-player .video {
    margin: 0;
    max-width: unset;
}

#return-to-top {
  display: none !important;
}

/* Possible Container Styles */

.container {
  width: auto;
}

@media (min-width: 1200px) {
.container {
    max-width: unset;
  }
}

footer.footer .contaienr {
  max-width: 1200px;
}


/* Additional CSS */

.test-fill {
   background-color: #f9f9f9;
   width: 25%;
   position: absolute;
   height: 80px;
   z-index: 2;
   margin-right: 20px;
   right: 0;
}

footer.footer .divider::before {
  .divider:before {
    background-image: linear-gradient(to right,rgba(213,213,213,.5) 0,rgba(213,213,213,.5) 100%);
}

footer.footer .divider::after {
  background-image: linear-gradient(to left,rgba(213,213,213,.5) 0,rgba(213,213,213,.5) 100%);
}
  
 
