#testGalleryForm {
  z-index: 9999;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(71, 76, 85, 0.95);
  position: fixed;
  top: 0;
  overflow-y: scroll;
}

#testGalleryForm > div { 
  display: table;
  height: 100%;
  width: 100%;
}

/* add class showTestGalleryForm to HTML not body */

.showTestGalleryForm {overflow-y: hidden;}

.showTestGalleryForm #testGalleryForm { display: block; }

/* Gallery */

#testGalleryContainer {display: table-cell; padding-top: 30px; height: 100%; width: 100%;}

@media (min-width: 768px) {
  #testGalleryContainer { 
    /*width: 66.66667%;*/
    /*width: auto;*/
    width: 100%;
  }
}

#testGalleryContainer .title-wrapper {color: #fff; visibility:hidden;}

@media (min-width: 768px) {
 #testGalleryContainer .title-wrapper {visibility:visible;} 
}

#testGalleryContainer .title-wrapper .title {margin-bottom: 10px; padding: 5px 30px 0 30px;}

#testGalleryContainer .title-wrapper .title .headline2:before, 
#testGalleryContainer .title-wrapper .title .headline2:after { display: none; }

#testGalleryContainer .title-wrapper span { display: none; }

#testGalleryContainer #photo-gallery-container {
  width: auto;
  padding: 0;
}

#testGalleryContainer .photo-gallery-wrapper {
  margin: 0 auto;
  max-width: 690px;
  background: transparent;
  height: auto;
}

#testGalleryContainer .photo-gallery-wrapper #slider {
  padding: 0;
}

#testGalleryContainer .photo-gallery-wrapper > div {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#testGalleryContainer .photo-gallery-wrapper .carousel { height: auto !important; }

#testGalleryContainer .photo-gallery-wrapper .carousel-inner .item { min-width: initial; }

#testGalleryContainer .photo-gallery-wrapper .carousel-inner .item .carousel-image { height: auto; }

#testGalleryContainer .photo-gallery-wrapper .carousel-inner>.item>.carousel-image>img { 
  height: auto; 
  max-width: 100%;
  position: static;
  transform: none;
  -webkit-transform: none;
}

#testGalleryContainer .photo-gallery-wrapper .slider-thumbs { display: none; }

#testGalleryContainer .photo-gallery-wrapper .carousel-control { cursor:pointer; height: calc(100% - 180px); }

@media (min-width: 580px) {
  #testGalleryContainer .photo-gallery-wrapper .carousel-control { height: calc(100% - 160px); }
}

@media (min-width: 991px) {
  #testGalleryContainer .photo-gallery-wrapper .carousel-control { height: calc(100% - 140px); }
}

#testGalleryContainer .photo-title, 
#testGalleryContainer .photo-description, 
#testGalleryContainer .photo-description + span { color: #fff; }

#testGalleryContainer .photo-description { margin-bottom: 20px; }

.item .photo-description + span { display: none; }

#testGalleryContainer .item .photo-description + span { display: inline-block; }

#testGalleryContainer .item .photo-description + span { opacity: 1; }

#testGalleryContainer .item.active.left .photo-description + span { opacity: 0; }

@media (min-width: 991px) {
#testGalleryContainer .photo-description + span {
  position: absolute;
  right: 0;
  bottom: 60px;
  }
}

#testGalleryContainer .photo-gallery-wrapper .carousel-indicators {
 display: none; 
}

/* Form */

#testFormContainer {display: table-cell; height: 100%; background-color: #34383d; width: auto;}

@media (max-width: 1091px) {
  #testFormContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  #testFormContainer.test-form-hidden {
    /*width: 50%;*/
    height: auto; 
  }
}

/*@media (max-width: 360px) {
  #testFormContainer.test-form-hidden {
    width: 58%;
  }
}*/

@media (max-width: 420px) {
  #testFormContainer .b-contactform {
    width: 270px;
  }
}

#testFormContainer.test-form-hidden { background: transparent; }

@media (min-width: 768px) {
  #testFormContainer { 
    /*width: 33.33333%;*/
    /*width: 345px;*/
    /*width: auto;
  }
}

#testFormContainer .b-contactform {
  display: block;
  text-align: center;
  padding: 40px 30px 0 30px;
  margin: 0;
  background-color: #34383d;
  width: 345px;
}

#testFormContainer .b-contactform > .container { width: auto; padding: 0;}

#testFormContainer #is-b-contactform, 
#testFormContainer .b-contactform__contactinfo {
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0;
  height: auto;
  padding-top: 0;
  width: 100%;
}

#testFormContainer .b-contactform__reasons {
  min-width: initial;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border: 0;
  background: #fff;
  border-radius: 5px;
}

#testFormContainer .b-contactform__reasons>* {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
}

#testFormContainer .b-contactform .control { margin-bottom: 0; }

#testFormContainer .b-contactform__prompt:before, #testFormContainer .b-contactform__prompt:after { display: none; }

#testFormContainer .b-contactform__pricing, #testFormContainer .b-contactform__schedule { border-right: 0; }

#testFormContainer .b-contactform__contactinfo>* { width: 100%; margin: 0 0 10px 0 !important;}

#testFormContainer .communityform .communityform__item>input { left: 10px; }

#testFormContainer .b-contactform__contactinfo>.b-contactform__button { max-width: initial;}

#testFormContainer .communityform .btn-cta-button { width: 100%; }

#testFormContainer .b-contactform__compliance { width: 100%; color: #fff; text-align: left; }

#testFormContainer .b-contactform__compliance p { width: auto; line-height: 1.5 }

#testFormContainer .b-contactform__compliance a { color: #fb6418 !important; }

/*#testFormContainer .b-contactform__compliance a:hover, #testFormContainer .b-contactform__compliance a:focus { color: #00539b; }*/

#testShowHideFormContainer {
  color: #fff;
  display: flex;
  height: 50px;
  background: #262b31;
}

#testShowHideForm {
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-right: 1px solid #34383d;
  cursor: pointer;
  white-space: nowrap;
}

#testClose {
  min-width: 50px;
  max-width: 50px;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 40px;
  justify-content: center;
  cursor: pointer;
}

#testClose span { margin-top: -8px; }

#testShowHideForm:hover, #testClose:hover { background: #181b1f;}

.test-form-hidden .b-contactform {
  display: none !important;
}

.test-form-hidden #testShowHideForm {
  justify-content: center;
  padding: 0 15px;
}
