.photo-gallery-wrapper > .col-md-7,
.photo-gallery-wrapper .slider-thumbs .thumbnail .thumbnail-overlay,
.photo-btn-container,
#carousel-selector-4,
#carousel-selector-5 {
  display: none;
}

.communityPhotos {
  margin-bottom: 60px;
}

#photo-gallery-container {
  max-width: 1200px;
  padding: 0;
}

.photo-gallery-wrapper {
  height: auto;
  margin: 0;
  background: 0;
}

.photo-gallery-wrapper .slider-thumbs {
  width: 100%;
  padding: 0;
}

@media (max-width: 991px) {
  .photo-gallery-wrapper .slider-thumbs {
    display: block !important;
  }
}

.photo-gallery-wrapper .slider-thumbs ul {
  margin-top: 18px;
  padding: 0 10px;
}

@media (min-width: 1200px) {
  .photo-gallery-wrapper .slider-thumbs ul {
    padding: 0;
  }
}

.photo-gallery-wrapper .slider-thumbs li {
  width: 25%;
}

@media (max-width: 1024px) {
  .photo-gallery-wrapper .slider-thumbs li {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .photo-gallery-wrapper .slider-thumbs li {
    width: 100%;
  }
}

.photo-gallery-wrapper .slider-thumbs .thumbnail {
  height: auto;
  width: auto;
  border: 0 !important;
}

.photo-gallery-wrapper .slider-thumbs .thumbnail img {
  position: initial;
  -webkit-transform: none;
  transform: none;
}

#carousel-selector-3:before {
  content: "View All";
  color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  justify-content: center;
  z-index: 6;
  font-weight: 600;
  font-size: 38px;
  background: rgba(85, 85, 85, 0.5);
}

#carousel-selector-3:hover:before {
  background: rgba(85, 85, 85, 0.75);
}

.thumbnail:hover .thumbnail-overlay {
    display: block !important;
}

/* Start Test Gallery Form */

#testGalleryForm {
  z-index: 9999;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(71, 76, 85, 0.95);
  position: fixed;
  top: 0;
  overflow-y: scroll;
}

#testGalleryForm > div { 
  display: table;
  height: 100%;
  width: 100%;
}

/* add class showTestGalleryForm to HTML not body */

.showTestGalleryForm {overflow-y: hidden;}

.showTestGalleryForm #testGalleryForm { display: block; }

/* Gallery */

#testGalleryContainer {display: table-cell; padding-top: 30px; height: 100%; width: 100%; vertical-align: top;}

@media (max-width: 1091px) {
 #testGalleryContainer {
   padding-top: 80px;
  }
}

@media (min-width: 768px) {
  #testGalleryContainer { 
    /*width: 66.66667%;*/
    /*width: auto;*/
    width: 100%;
  }
}

#testGalleryContainer .title-wrapper {/*color: #fff;*/ visibility:hidden;}

/*@media (min-width: 768px) {
 #testGalleryContainer .title-wrapper {visibility:visible;} 
}*/

#testGalleryContainer .title-wrapper .title {margin-bottom: 10px; padding: 5px 30px 0 30px;}

#testGalleryContainer .title-wrapper .title .headline2:before, 
#testGalleryContainer .title-wrapper .title .headline2:after { display: none; }

#testGalleryContainer .title-wrapper span { display: none; }

#testGalleryContainer #photo-gallery-container {
  width: auto;
  padding: 0;
}

#testGalleryContainer .photo-gallery-wrapper {
  margin: 0 auto;
  max-width: 690px;
  background: transparent;
  height: auto;
}

#testGalleryContainer .photo-gallery-wrapper #slider {
  padding: 0;
}

#testGalleryContainer .photo-gallery-wrapper > div {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#testGalleryContainer .photo-gallery-wrapper > .col-md-7 {
 display: block; 
}

#testGalleryContainer .photo-gallery-wrapper .carousel { height: auto !important; }

#testGalleryContainer .photo-gallery-wrapper .carousel-inner .item { min-width: auto; }

#testGalleryContainer .photo-gallery-wrapper .carousel-inner .item .carousel-image { height: auto; }

#testGalleryContainer .photo-gallery-wrapper .carousel-inner>.item>.carousel-image>img { 
  height: auto; 
  max-width: 100%;
  position: static;
  transform: none;
  -webkit-transform: none;
}

#testGalleryContainer .photo-gallery-wrapper .slider-thumbs { display: none !important; }

#testGalleryContainer .photo-gallery-wrapper .carousel-control {  
  height: calc(100% - 120px);
  background: 0;
  opacity: 1;
  cursor: default;
  pointer-events: none;
}

/*@media (min-width: 580px) {
  #testGalleryContainer .photo-gallery-wrapper .carousel-control { height: calc(100% - 160px); }
}*/

@media (min-width: 768px) {
  #testGalleryContainer .photo-gallery-wrapper .carousel-control { height: calc(100% - 130px); }
}

/*@media (min-width: 991px) {
  #testGalleryContainer .photo-gallery-wrapper .carousel-control { height: calc(100% - 140px); }
}*/

#testGalleryContainer .photo-gallery-wrapper .carousel-inner .item .carousel-text {
 position: relative; 
}

#testGalleryContainer .photo-title, 
#testGalleryContainer .photo-description, 
#testGalleryContainer .photo-description + span { color: #fff; }

#testGalleryContainer .photo-title {
 display: inline-block;
 width: 70%;
 margin-bottom: 5px;
}

/*#testGalleryContainer .photo-description { margin-bottom: 20px; }*/

.item .photo-description + span { display: none; }

#testGalleryContainer .item .photo-description + span { display: inline-block; }

#testGalleryContainer .item .photo-description + span { opacity: 1; position: absolute; right: 0; top: 20px; }

#testGalleryContainer .item.active.left .photo-description + span { opacity: 0; }

/*@media (min-width: 991px) {
#testGalleryContainer .photo-description + span {
  position: absolute;
  right: 0;
  bottom: 60px;
  }
}*/

#testGalleryContainer .photo-gallery-wrapper .carousel-indicators {
 display: none; 
}

#testGalleryContainer .carousel-control .glyphicon {
  cursor: pointer;
  pointer-events:all;
}

#testGalleryContainer .carousel-control .glyphicon-chevron-left {
  left: 15px;
}

#testGalleryContainer .carousel-control .glyphicon-chevron-right {
  right: 15px;
}

#testGalleryContainer .carousel-control .glyphicon:before {
  cursor: pointer;
  pointer-events: all;  
  background-color: #262b31;
  padding: 5px 7px;
  border-radius: 50%;
}

@media (min-width: 768px) {
 #testGalleryContainer .carousel-control .glyphicon-chevron-right {
   right: 31px;
  }
 #testGalleryContainer .carousel-control .glyphicon:before {
   padding: 5px 8px;
  }
}

#testGalleryContainer .carousel-control .glyphicon:hover:before {
  background-color: #181b1f;
}

/* Form */

#testFormContainer {
  display: table-cell; 
  height: 100%; 
  background-color: #34383d; 
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  overflow: visible;
}

@media (max-width: 1023px) {
  #testFormContainer {
    position: absolute;
  }
  #testFormContainer.test-form-hidden {
    height: 50px;
    width: 190px;
  }
}

#testFormContainer.test-form-hidden { 
  background: transparent;
  position: absolute;
}

@media (min-width: 768px) {
  #testFormContainer { 
    /*width: 33.33333%;*/
    /*width: 345px;*/
    /*width: auto;*/
  }
}

#testFormContainer .b-contactform {
  display: block;
  text-align: center;
  padding: 30px 30px 0 30px;
  margin: 0;
  background-color: #34383d;
  width: 345px;
  height: auto !important;
}

@media (max-width: 1023px) {
  #testFormContainer .b-contactform {
    width: 270px;
  }
  .b-contactform__prompt h3 {
    font-size: 19px; 
  }
  #testFormContainer .b-contactform .control { font-size: 12px; }
}

#testFormContainer .b-contactform > .container { width: auto; padding: 0;}

#testFormContainer #is-b-contactform, 
#testFormContainer .b-contactform__contactinfo {
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0;
  height: auto;
  padding-top: 0;
  width: 100%;
}

#testFormContainer .b-contactform__reasons {
  min-width: auto;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border: 0;
  background: #fff;
  border-radius: 5px;
}

#testFormContainer .b-contactform__reasons>* {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
}

#testFormContainer .b-contactform .control { margin-bottom: 0; padding-right: 0; }

/*@media (max-width: 420px) {
  #testFormContainer .b-contactform .control { font-size: 12px; }
}*/

#testFormContainer .b-contactform__prompt:before, #testFormContainer .b-contactform__prompt:after { display: none; }

#testFormContainer .b-contactform__pricing, #testFormContainer .b-contactform__schedule { border-right: 0; }

#testFormContainer .b-contactform__contactinfo>* { width: 100%; margin: 0 0 10px 0 !important;}

#testFormContainer .communityform .communityform__item>input { left: 10px; }

#testFormContainer .b-contactform__contactinfo>.b-contactform__button { max-width: none;}

#testFormContainer .communityform .btn-cta-button { width: 100%; }

#testFormContainer .b-contactform__compliance { width: 100%; color: #fff; text-align: left; }

#testFormContainer .b-contactform__compliance p { width: auto; line-height: 1.5 }

#testFormContainer .b-contactform__compliance a { color: #fff !important; text-decoration: underline; }

/*#testFormContainer .b-contactform__compliance a:hover, #testFormContainer .b-contactform__compliance a:focus { color: #00539b; }*/

#testShowHideFormContainer {
  color: #fff;
  display: flex;
  height: 50px;
  background: #262b31;
}

#testShowHideForm {
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-right: 1px solid #34383d;
  cursor: pointer;
  white-space: nowrap;
}

#testClose {
  min-width: 50px;
  max-width: 50px;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 40px;
  justify-content: center;
  cursor: pointer;
}

#testClose span { margin-top: -8px; }

@media all and (-ms-high-contrast:none),(-ms-high-contrast:active) {
  #testClose span { margin-top: 0; }
}

#testShowHideForm:hover, #testClose:hover { background: #181b1f;}

.test-form-hidden .b-contactform {
  display: none !important;
}

.test-form-hidden #testShowHideForm {
  justify-content: center;
  padding: 0 15px;
}

/* Thank You */

#testFormContainer .b-contactform--showingSuccess #is-b-contactform, #testFormContainer .b-contactform--showingFailure #is-b-contactform {
  display: none;
}

#testFormContainer .b-contactform__response {
 color: #fff;
 position: static;
 width: auto;
 margin: 0;
 -webkit-transform: none;
 transform: none; 
}

#testFormContainer .b-contactform__response-steps {
  display: block;
}

@media (min-width: 1024px) {
 #testFormContainer .b-contactform__response-steps {
  padding: 0 10px;
  } 
}

#testFormContainer .b-contactform__response-step {
  max-width: none;
  justify-content: left;
}

#testFormContainer .b-contactform__response-links {
 display: none; 
}

#testFormContainer .b-contactform__response-step.b-contactform__response-step--active { min-width: auto; margin: 20px 0 0 0; }

#testFormContainer .b-contactform__response-step.b-contactform__response-step--active .b-contactform__response-stepbubble {
    margin-left: -15px;
    margin-right: -15px;
  }

/*#testFormContainer .b-contactform__response-step--active .b-contactform__response-icon--number { margin-right: 0; }*/

/*#testFormContainer .b-contactform__response-icon--computer { width: 45px; margin-right: 0; }*/

#testFormContainer .b-contactform__response-icon--computer,
#testFormContainer .b-contactform__response-icon--headset, 
#testFormContainer .b-contactform__response-icon--phone { display: none; }

#testFormContainer .b-contactform__response-txt { white-space: normal; }

#testFormContainer .b-contactform__response-step.b-contactform__response-step--active .b-contactform__response-stepbubble { 
  padding: 10px;
}

#testFormContainer .b-contactform__response-stepbubble .b-contactform__response-txt {
 color: #333;
 font-size: 17px;
}

/*#testFormContainer .b-contactform__response-icon--headset {
 width: 37px;
 margin-right: 10px;
}*/

#testFormContainer .b-contactform__response-hours { font-size: 15px; }

@media (max-width: 1023px) {
  #testFormContainer .b-contactform__response-stepbubble .b-contactform__response-txt { font-size: 15px; }
  #testFormContainer .b-contactform__response-hours { font-size: 12px; }
}
