body.bkd-skilled-nursing .community-details-intro-wrapper .inner-wrapper {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  width: auto !important;
}

body.bkd-skilled-nursing .community-hero>.community-details>div>div {
  float: none !important;
}

body.bkd-skilled-nursing .community-hero .phone-detail {    
    font-weight: 300;
    font-size: 24px !important;
    text-shadow: 0 0 10px #000;
    text-transform: capitalize;
    margin-top: 9px;
}

body.bkd-skilled-nursing .community-hero .phone-detail a {
  color: #fff;
}

.extra.second {
 padding: 20px 20px 0 20px;
 font-weight: 500;
 background-color: #f9f9f9; 
}

.extra.second a:before {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f105";
  font-weight: 400;
  padding: 0 12px;
}

@media (max-width: 991px) {
  body.bkd-skilled-nursing .community-hero, .extra.second {
    display: none;
  }
  body.bkd-skilled-nursing .community-details-intro-wrapper .inner-wrapper {
    display: block;
  }
}

@media (min-width: 992px) {
  body.bkd-skilled-nursing .community-hero, .extra.second {
    display: block;
  }
  body.bkd-skilled-nursing .community-details-intro-wrapper .inner-wrapper {
    display: none;
  }
}

body {opacity: 0;}
