.community-details-intro-wrapper .inner-wrapper {
  margin-right: auto !important;
  margin-left: auto !important;
  width: auto !important;
}

@media (min-width: 992px) {
  .community-details-intro-wrapper .inner-wrapper {
    padding: 0 15px !important;
  }
}

.community-hero > .community-details > div > div {
  float: none !important;
}

@media (min-width: 992px) {
  .cd-city-state {
    display: block;
    margin-top: 6px;
  }
}

.community-hero .phone-detail {
  font-weight: 300;
  font-size: 24px !important;
  text-shadow: 0 0 10px #000;
  text-transform: capitalize;
  margin-top: 6px;
}

.community-hero .phone-detail a {
  color: #fff;
}

.community-options-spacer > .community-options + div {
  background-color: #f9f9f9;
}

.extra.second {
  /*padding: 20px 20px 0 20px;*/
  /*padding: 20px 0;*/
  padding: 20px 0 40px 0;
  font-weight: 500;
}

.extra.second a {
  /*margin-left: -20px;*/
}

/*.extra.second a:before {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f104";
  font-weight: 400;
  padding-right: 12px;
}*/

.extra.second a:after {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f105";
  font-weight: 400;
  padding: 0 12px;
}

@media (max-width: 767px)
.community-intro-wrapper .community-hero {
    background-position-y: center !important;
}

@media (max-width: 991px) {
  .community-hero .extra.second, .community-intro-wrapper .community-hero>.community-details {
    display: none;
  }
  .community-details-intro-wrapper .inner-wrapper {
    display: block;
  }
}

@media (min-width: 992px) {
  .community-hero,
  .extra.second {
    display: block;
  }
  .community-details-intro-wrapper .inner-wrapper {
    display: none;
  }
}

body {
  opacity: 0;
}
