.community-details-intro-wrapper .inner-wrapper {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  width: auto !important;
}

.community-hero>.community-details>div>div {
  float: none !important;
}

.community-hero .phone-detail {    
    font-weight: 300;
    font-size: 24px !important;
    text-shadow: 0 0 10px #000;
    text-transform: capitalize;
    margin-top: 9px;
}

.community-hero .phone-detail a {
  color: #fff;
}

.community-options-spacer > .community-options + div {
  background-color: #f9f9f9;
}

.extra.second {
 /*padding: 20px 20px 0 20px;*/
 padding: 20px 0;
 font-weight: 500;
}

.extra.second a {
  /*margin-left: -20px;*/
}

/*.extra.second a:before {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f104";
  font-weight: 400;
  padding-right: 12px;
}*/

.extra.second a:after {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f103";
  font-weight: 400;
  padding: 0 12px;
}

@media (max-width: 991px) {
  .community-hero, .extra.second {
    display: none;
  }
  .community-details-intro-wrapper .inner-wrapper {
    display: block;
  }
}

@media (min-width: 992px) {
  .community-hero, .extra.second {
    display: block;
  }
  .community-details-intro-wrapper .inner-wrapper {
    display: none;
  }
}

body {opacity: 0;}
