.loc-listing h3 {
    font-weight: 300;
}
.loc-listing .retain--padded {
    padding-bottom: 0;
}
.loc-listing p {
    line-height: 1.4;
}
.loc-listing .callout--images {
    margin-top: 20px;
}
.loc-listing .callout__item {
    width: calc(20% - 24px);
}
.loc-listing .callout__head .h4 {
    text-transform: none;
}
@media (max-width: 768px) {
   .loc-listing .callout__item {
        width: calc(33% - 24px);
        margin-bottom: 20px;
    }
    .callout__image-image {
        max-width: 50%;
    }
}
@media (max-width: 480px) {
   .loc-listing .callout__item {
        width: calc(50% - 24px);
    }
    .callout__image-image {
        max-width: 60%;
    }
}

#testLocs {
    padding-bottom: 60px;
}

.testFullAmenities {  }

.testFullAmenities h3 { padding: 0 20px 20px 20px; text-align: center; /*margin-bottom: 40px;*/ }

#loadAmenities { padding-left: 30px;}

@media (max-width: 991px) {
.testFullAmenities .amenities-list-wrapper>div>div>ul li {
    width: 50%;
  }
.testFullAmenities .amenities-list-wrapper>div>div>ul li {
    padding-right: 25px;
  }
}

@media (max-width: 480px) {
.testFullAmenities .amenities-list-wrapper>div>div>ul li {
    width: 100%;
  }
.testFullAmenities .amenities-list-wrapper>div>div>ul li {
    padding-right: 0;
  }
}


.communityTwoColumn .communityAmenities, 
.communityTwoColumn .levelsOfCareList {
    display: none;
}

.communityTwoColumn .col-md-6 {
    width: 100%;
    border-right: 0 !important;
    padding: 5px !important;
    text-align: center;
    margin: 0 !important;
}

#floorplan {
    padding-bottom: 45px;
}

@media (max-width: 991px ) {
    #floorplan { padding-bottom: 0 } 
}

#floorPlan h3 { margin-top: 0; }

#floorplan a {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1.42857;
    -moz-user-select: none;
    user-select: none;   
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    min-width: 150px;
    padding: 6px 17px;
    margin: 30px 0 0 0;
    background-color: #17a062;
    border: 4px solid #17a062;
    color: #fff;
    height: 50px;
    text-transform: capitalize;
}

#floorplan a:focus, #floorplan a:hover {
 background:#fb6418;border:4px solid #fb6418;-webkit-box-shadow:0 0 0 0 #fb6418;box-shadow:0 0 0 0 #fb6418;color:#fff;text-decoration:none   
}

#floorplan a:after {
 display: none;   
}


/* Modal */

#formLoad .modal-body {
  background-color: #f9f9f9;
  border-radius: 0 0 6px 6px;
  line-height: 1.3;
  padding: 20px 25px 30px;
}

#formLoad .modal-title {
  line-height: 1.92857em;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 480px) {
    #formLoad .modal-title { 
        text-align: left;
        padding-left: 25px;
    } 
}

#formLoad .modal-header {
  background-color: #fff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#formLoad .modal-header .close {
  font-weight: 100;
  font-size: 40px;
  margin-left: -100px;
  opacity: 1;
  color: #7d7d7d;
  line-height: .75;
}

@media screen and (min-width: 992px) {
#formLoad .modal-body {
  padding: 20px 70px 30px;
  }
}

#formLoad .modal.in {
    display: block;
    opacity: 1;
}

.at-modal-backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: none;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.15s linear;
}

.at-modal-backdrop.in {
  display: block;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1040;
}
