@media (max-width: 767px) {
  .compare-community {
    background-color: #f9f9f9;
  }
  
  .compare-community-wrapper {
    margin: 0 10px;
  }
  .compare-community-wrapper .table tbody .feature-row th {
    width: 0;
  }
  .compare-community-wrapper .table tbody td {
    width: 33%;
    padding: 10px;
  }
  .compare-community-wrapper .table {
    min-width: unset;
  }
  .compare-community-wrapper .table tbody .feature-row .feature-item .feature-img {
   height: 115px; 
  }
  .compare-community-wrapper .table tbody .feature-row .feature-item>div {
    padding: 10px 6px;
  }
  .compare-community-wrapper .table tbody td ul li, .compare-community-wrapper .table tbody .feature-row td.add-community .no-saved-add p {
    font-size: 12px;
  }
  
  .compare-community-wrapper .table tbody .feature-row td.add-community .no-saved-add p {
    text-align: center;
}
  
  .compare-community-wrapper .table tbody .feature-row td.add-community .add-text {
    margin-top: 20px;
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
  }
  
  .compare-community-wrapper .table tbody .feature-row td.add-community .no-saved-add {
    padding: 10px 20px;
    text-align: left;
  }


  .compare-community-wrapper .table tbody th, .compare-community-wrapper .table tbody td {
    background-color: #fff;
  }
  
  .compare-community-wrapper th {
    font-size: 12px;
    display: none;
  }
  
  .compare-community-wrapper .table tbody tr.amenities-row table {
    table-layout: fixed;
    width: 100%;
  }
  
  .compare-community-wrapper .table tbody .remove-row td .btn, .compare-community-wrapper .table tbody .remove-row th .btn {
    min-width: unset;
    font-size: 13px;
    padding: 5px;
  }
  
  }
