.test-view-all-nearby-comms {
  text-align: center;
  margin-bottom: 44px;
  margin-top: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

.test-view-all-nearby-comms label {
  display: none;
}

.test-view-all-nearby-comms button {
  width: 100%;
  max-width: 340px;
  background-color: #00539B;
}

@media (max-width: 918px) {
  .js-closest-communities-results {
    margin-bottom: 40px;
  }
  .js-closest-communities-results .js-search-listing-2 {
    margin-bottom: 0;
  }
  .test-view-all-nearby-comms {
    margin-top: 0;
  }
}
