.closest-communities__cta {
  text-align: center;
  margin-bottom: 44px;
  margin-top: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

.closest-communities__cta label {
  display: none;
}

.closest-communities__cta button {
  width: auto !important;
  background: #fff !important;
  border: 4px solid #00539B !important;
  color: #00539B !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.closest-communities__cta button:after {
    font-family: FontAwesome;
    content: "\f105";
    font-weight: 100;
    padding-left: 8px;
    font-size: 20px;
    vertical-align: middle;
    color: #3f79ab;
}

.closest-communities__cta button:focus, .closest-communities__cta button:hover  {
  background: #00539B !important;
  border: 4px solid #00539B !important;
  color: #fff !important;
}

@media (max-width: 918px) {
  .js-closest-communities-results {
    margin-bottom: 40px;
  }
  .js-closest-communities-results .js-search-listing-2 {
    margin-bottom: 0;
  }
  .closest-communities__cta {
    margin-top: 0;
  }
}
