.closest-communities__cta {
  text-align: center;
  margin-bottom: 44px;
  margin-top: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

.closest-communities__cta label {
  display: none;
}

.closest-communities__cta button {
  width: auto !important;
  background: #fff !important;
  border: 2px solid #00539B !important;
  color: #00539B !important;
  font-weight: 500 !important;
  font-size: 19px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.closest-communities__cta button:after {
    font-family: FontAwesome;
    content: "\f105";
    font-weight: 500;
    padding-left: 12px;
    font-size: 24px;
    vertical-align: middle;
    color: #00539B;
    line-height: 1.3em;
}

.closest-communities__cta button:focus, .closest-communities__cta button:hover  {
  background: #00539B !important;
  border: 2px solid #00539B !important;
  color: #fff !important;
}

.closest-communities__cta button:hover:after {
  color: #fff;
}

@media (max-width: 918px) {
  .js-closest-communities-results {
    margin-bottom: 40px;
  }
  .js-closest-communities-results .js-search-listing-2 {
    margin-bottom: 0;
  }
  .closest-communities__cta {
    margin-top: 0;
  }
}
