.community-hero.hidden-sm {
  min-height: 710px !important;
  max-height: 710px !important;
}
.community-hero.hidden-sm .formatPhone {
  visibility: hidden;
}
.atPhoneLabel {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.community-hero.hidden-lg .formatPhone {
  visibility: hidden;
}
.mobile-options .ct-contact-support-label {
  display: block;
  margin-top: 0px;
  font-size: 13px;
  line-height: 13px;
  padding-bottom: 2px;
  font-weight: 300;
  color: #333 !important;
}
.mobile-options>.row>div.phone>div>span.phone {
  padding-top: 2px;
  margin-top: 0 !important;
}
.atPhoneLabel--mobile {
  padding-top: 2px;
  font-size: 24px;
  display: block;
  font-weight: 500;
  color: #333 !important;
}
.mobile-options>.row>a.atPhone--mobile>div {
    font-size: 12px;
    font-weight: 100;
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: middle;
    margin-left: 5px;
}
.mobile-options>.row>div.phone:before {
  margin-top: 0;
}
.atPhone--mobile:before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: -1px 10px 0;
  background-image:url("https://www.brookdale.com/etc/clientlibs/brookdale/main/images/icon-phone-fill.png");
  vertical-align: middle;
}
@media (max-width: 990px) {
.mobile-options .atPhone--mobile {
    padding: 18px 10px 18px;
    display: block;
  }
}
