.personalized-content {
  /*padding: 24px 0 45px 0;*/
  padding-bottom: 45px;
}

@media (max-width: 991px) {
  .personalized-content {
    padding-bottom: 35px;
  }
}

.personalized-content .retain {
  padding-bottom: 0;
}

.personalized-content .text-image-content {
  border-bottom: 1px solid #d3d2d0
}

@media (max-width: 991px) {
.personalized-content .text-image-content {
    padding-bottom: 24px !important;
  }
}

.personalized-content .text-image-content img {
  max-width: 400px;
}

.personalized-communities__cta {
  padding-top: 20px;
}

.personalized-communities__cta a {
  font-weight: 400 !important;
  font-size: 18px;
}

.personalized-communities__cta a br {
    display: none;
}

.personalized-communities__cta a:after {
    font-family: FontAwesome;
    content: "\f105";
    font-weight: 100;
    padding: 0 8px;
    font-size: 20px;
    vertical-align: middle;
    color: #3f79ab;
}

.personalized-communities__cta a:hover:after, .personalized-communities__cta a:focus:after {
    color: #fb6418;
}
