@media (max-width: 1091px) {
  body {
    margin-top: 60px;
  }
  #nav-stripe + .ctcore-header .ctcore-header__row.ctcore-header__row--first {
    /* 2nd one */
    top: 0;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
  }
  .progressive-bar {
    top: 60px;
  }
}


.test-header-phone:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: -40px;
    display: block;
    top: 0;
    position: absolute;
    background: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2… 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E) 7px 7px no-repeat #2DA262;
    background-size: 55%;
}
