.js-modaltype-mapunlock.sneakpeek--init .js-search-results-container {
  position: relative;
}
@media (min-width: 991px) {
.js-modaltype-mapunlock .sneakpeek__modal-body {
  max-width: 947px;
  margin-left: auto;
  margin-right: auto;
 }
}
.js-modaltype-mapunlock.sneakpeek--init .communitySearch {
  margin-bottom: 40px;
}
.js-modaltype-mapunlock.sneakpeek--init .sneakpeek-modal-body__form {
  padding-bottom: 0;
}
.js-modaltype-mapunlock.sneakpeek--init .sneakpeek__wrap {
  z-index: 9;
}
.js-modaltype-mapunlock.sneakpeek--active .sneakpeek__wrap {
  height: auto;
  position: absolute;
  top: 80px;
  bottom: 0;
  z-index: 7;
  -webkit-transition: -webkit-all 0.5s ease-out;
  transition: -webkit-all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out, -webkit-all 0.5s ease-out;
}
@media (max-width:768px) {
.js-modaltype-mapunlock.sneakpeek--active .sneakpeek__wrap {
  top: 40%;
  }
.js-modaltype-mapunlock.sneakpeek--init .search-results-property__map-container {
  position: static;
  margin-top: 0 !important;
  }
}
@media (max-height: 567px) {
  .js-modaltype-mapunlock.sneakpeek--init .sneakpeek__wrap {
    overflow: initial;
  }
}
@media (max-width: 480px) {
  .js-modaltype-mapunlock.sneakpeek--init .sneakpeek__modal-body {
    height: auto;
  }
  .js-modaltype-mapunlock.sneakpeek--init .sneakpeek-modal-body__text .h3 {
    margin: 15px 0;
    font-size: 14px;
  }
}
.js-modaltype-mapunlock.sneakpeek--active .sneekpeek-modal-header {
  pointer-events: none;
  height: auto;
  min-height: 60px;
}
.js-modaltype-mapunlock.sneakpeek--init .sneakpeek__modal-body {
  height: 100%;
  border-radius: 8px;
}
.js-modaltype-mapunlock.sneakpeek--active:after {
  display: none;
}
.js-modaltype-mapunlock.sneakpeek--init .search-results-property {
  position: relative;
}
.js-modaltype-mapunlock.sneakpeek--init .search-results-property:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.js-modaltype-mapunlock.sneakpeek--init [class*="js-search-listing-"],
.js-modaltype-mapunlock.sneakpeek--init .community-search-form,
.js-modaltype-mapunlock.sneakpeek--active .sneakpeek-arrow,
.js-modaltype-mapunlock.sneakpeek--init #pagination-container,
.js-modaltype-mapunlock.sneakpeek--init .sectionTitlewithCommunitySearch,
.js-modaltype-mapunlock.sneakpeek--init .footer .divider,
.js-modaltype-mapunlock.sneakpeek--init .footer .link-container {
  display: none;
}
.js-modaltype-mapunlock.sneakpeek--init .js-search-listing-1,
.js-modaltype-mapunlock.sneakpeek--init .js-search-listing-2 {
  display: block;
}
.js-modaltype-mapunlock.sneakpeek--active .footer__social-links a {
  pointer-events: none;
  cursor: auto;
}
@media (max-width: 991px) {
  .js-modaltype-mapunlock.sneakpeek--init .sneakpeek-phone {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .js-modaltype-mapunlock.sneakpeek--init .js-search-listing-2 {
    display: none;
  }
  .js-modal-type-mapunlock .sneakpeek-phone-closure {
    margin-top: 40px;
  }
  .js-modaltype-mapunlock.sneakpeek--init .sneakpeek-phone {
    font-size: 22px;
  }
}
@media (max-width: 359px) {
  .sneakpeek-modal-body__button span, .sneakpeek-modal-body__button .btn-continue__action {
    font-size: 14px;
  }
  .js-modaltype-mapunlock.sneakpeek--active .sneakpeek__modal-body {
    margin: 0 10%;
  }
  .js-modaltype-mapunlock.sneakpeek--active .sneekpeek-modal-header__text {
    margin: 0;
  }
}
.js-paid-formtitle span {
  text-transform:capitalize;
}
