/* Original */

.sidr-inner .ctcore-header__phonenumber a {
    display: block;
    height: 60px;
    padding-left: 55px;
    padding-top: 21px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 1091px) {
.ctcore-header__mobile-phone-link:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin: 4px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 25'%3E%3Cpath fill='%23ffffff' d='M19.51 14.65A2 2 0 0 0 18.3 14l-5.06-.88a2.07 2.07 0 0 0-2.3 1.29 15.2 15.2 0 0 1-3.33-2.69 14.22 14.22 0 0 1-2.08-2.87A2 2 0 0 0 7 6.68l-.64-4.94A1.9 1.9 0 0 0 5.78.6 2.07 2.07 0 0 0 4.06 0L2 .26A2.06 2.06 0 0 0 .26 1.83c-.89 3.74.62 8.56 4.31 12.49C8 18 12.38 20 16.22 20a9.78 9.78 0 0 0 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E") 7px 7px no-repeat #2DA262;
    background-size: 55%;
  }
}

.sidr-inner .ctcore-header__phonenumber:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 14px;
    display: block;
    top: 14px;
    position: absolute;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 25'%3E%3Cpath fill='%23ffffff' d='M19.51 14.65A2 2 0 0 0 18.3 14l-5.06-.88a2.07 2.07 0 0 0-2.3 1.29 15.2 15.2 0 0 1-3.33-2.69 14.22 14.22 0 0 1-2.08-2.87A2 2 0 0 0 7 6.68l-.64-4.94A1.9 1.9 0 0 0 5.78.6 2.07 2.07 0 0 0 4.06 0L2 .26A2.06 2.06 0 0 0 .26 1.83c-.89 3.74.62 8.56 4.31 12.49C8 18 12.38 20 16.22 20a9.78 9.78 0 0 0 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E") 7px 7px no-repeat #2DA262;
    background-size: 55%;
    z-index: -1; 
}

/* Lets Override */

.ctcore-header__mobile-nav .js-header__phonenumber {
    display: none;
    align-items: center;
    flex-direction: row;
    font-weight: 700;
  }
  .ctcore-header__mobile-nav .js-header__phonenumber:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 25'%3E%3Cpath fill='%23ffffff' d='M19.51 14.65A2 2 0 0 0 18.3 14l-5.06-.88a2.07 2.07 0 0 0-2.3 1.29 15.2 15.2 0 0 1-3.33-2.69 14.22 14.22 0 0 1-2.08-2.87A2 2 0 0 0 7 6.68l-.64-4.94A1.9 1.9 0 0 0 5.78.6 2.07 2.07 0 0 0 4.06 0L2 .26A2.06 2.06 0 0 0 .26 1.83c-.89 3.74.62 8.56 4.31 12.49C8 18 12.38 20 16.22 20a9.78 9.78 0 0 0 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E") 7px 7px no-repeat #2da262;
    background-size: 55%;
  }
  .ctcore-header__mobile-nav .js-header__phonenumber:hover:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 25'%3E%3Cpath fill='%23ffffff' d='M19.51 14.65A2 2 0 0 0 18.3 14l-5.06-.88a2.07 2.07 0 0 0-2.3 1.29 15.2 15.2 0 0 1-3.33-2.69 14.22 14.22 0 0 1-2.08-2.87A2 2 0 0 0 7 6.68l-.64-4.94A1.9 1.9 0 0 0 5.78.6 2.07 2.07 0 0 0 4.06 0L2 .26A2.06 2.06 0 0 0 .26 1.83c-.89 3.74.62 8.56 4.31 12.49C8 18 12.38 20 16.22 20a9.78 9.78 0 0 0 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E") 7px 7px no-repeat #fb6418;
    background-size: 55%;
  }

  .bkd-community .ct-icon--search,
.bkd-community-details .ct-icon--search,
.bkd-skilled-nursing .ct-icon--search {
    display: none;
  }

  .bkd-community .ctcore-header__mobile-nav .js-header__phonenumber,
.bkd-community-details .ctcore-header__mobile-nav .js-header__phonenumber,
.bkd-skilled-nursing .ctcore-header__mobile-nav .js-header__phonenumber {
    display: flex;
  }
}
@media (max-width: 680px) {
  .ctcore-header__mobile-nav .js-header__phonenumber {
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media (max-width: 359px) {
  .ctcore-header__mobile-nav .js-header__phonenumber:before, .ctcore-header__mobile-nav .js-header__phonenumber:hover:before {
    width: 25px;
    height: 25px;
    margin-right: 0;
  }
  .ctcore-header__mobile-nav .js-header__phonenumber:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 25'%3E%3Cpath fill='%23ffffff' d='M19.51 14.65A2 2 0 0 0 18.3 14l-5.06-.88a2.07 2.07 0 0 0-2.3 1.29 15.2 15.2 0 0 1-3.33-2.69 14.22 14.22 0 0 1-2.08-2.87A2 2 0 0 0 7 6.68l-.64-4.94A1.9 1.9 0 0 0 5.78.6 2.07 2.07 0 0 0 4.06 0L2 .26A2.06 2.06 0 0 0 .26 1.83c-.89 3.74.62 8.56 4.31 12.49C8 18 12.38 20 16.22 20a9.78 9.78 0 0 0 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E") 6px 6px no-repeat #2da262;
    background-size: 55%;
  }
  .ctcore-header__mobile-nav .js-header__phonenumber:hover:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 25'%3E%3Cpath fill='%23ffffff' d='M19.51 14.65A2 2 0 0 0 18.3 14l-5.06-.88a2.07 2.07 0 0 0-2.3 1.29 15.2 15.2 0 0 1-3.33-2.69 14.22 14.22 0 0 1-2.08-2.87A2 2 0 0 0 7 6.68l-.64-4.94A1.9 1.9 0 0 0 5.78.6 2.07 2.07 0 0 0 4.06 0L2 .26A2.06 2.06 0 0 0 .26 1.83c-.89 3.74.62 8.56 4.31 12.49C8 18 12.38 20 16.22 20a9.78 9.78 0 0 0 1.73-.15 2 2 0 0 0 1.66-1.6l.36-2a1.93 1.93 0 0 0-.46-1.6z'/%3E%3C/svg%3E") 6px 6px no-repeat #fb6418;
    background-size: 55%;
  }

  .bkd-community .ct-icon--menu,
.bkd-community-details .ct-icon--menu,
.bkd-skilled-nursing .ct-icon--menu {
    margin-left: 0;
  }
}
